.linea{
    height: 250px;
    width: 1000px;
    border: 1px solid black;
    vertical-align: top;
}

.lineac{
    height: 20px;
    width: 100px;
    border: 1px solid black;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lineag{
    height: 250px;
    width: 500px;
    border: 1px solid black;
}

.h1{
    margin-top: 30px;
    margin-left: 10px;
}

.p{
    margin-top: 30px;
    margin-left: 10px;
    color: gray;
}

.sel{
    margin-top: 30px;
    margin-left: 10px;
}

.a{
    margin-top: 40px;
}

.tab{
    height: 100px;
}

.fotog{
    display: block;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}