.linea{
    height: 250px;
    width: 1000px;
    vertical-align: top;
}

.lineac{
    height: 30px;
    width: 100px;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lineag{
    height: 250px;
    width: 500px;
    text-align: center;
}

.lineam{
    width: 500px;
    text-align: left;
    border: 1px solid black;
}

.h1{
    margin-top: 30px;
    margin-left: 10px;
}

.p{
    margin-top: 30px;
    margin-left: 10px;
    color: gray;
}

.sel{
    margin-top: 30px;
    margin-left: 10px;
}

.a{
    margin-top: 40px;
}

.tab{
    height: 100px;
    margin-left: 50px;
}

.tabc{
    height: 100px;
    margin-left: 50px;
    background-color: white;
}

.fotog{
    display: block;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

.botonc{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.botonf{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
}