.linea{
    height: 250px;
    width: 1000px;
    vertical-align: top;
}

.lineac{

}


.linean{
    height: 30px;
    width: 400px;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.lineag{
    height: 250px;
    width: 500px;
    text-align: center;
}

.lineam{
    width: 500px;
    text-align: left;
    border: 1px solid black;
}

.h1{
    margin-top: 30px;
    margin-left: 10px;
}

.p{
    margin-top: 30px;
    margin-left: 10px;
    color: gray;
}

.sel{
    margin-top: 30px;
    margin-left: 10px;
}

.a{
    margin-top: 40px;
}

.tab{

}

.tabc{
    height: 100px;
    margin-left: 50px;
    background-color: white;
}

.tabn{
    height: 100px;
    margin-left: 50px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
}

.tabch{
    height: 100px;
    margin-left: 70px;
    margin-top: 50px;
    background-color: white;
}
.div_grupo{
    text-align: center;


}
.fotog{
    display: block;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    float: top;
}

.botonc{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.botonf{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.botonch{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-top: 20px;
}

.mensaje{
    margin-left: 70px;
    margin-top: 20px;
    padding: 10px;
    width: 90%;
}

.radio{
    background-color: white;
    width: 80px;
}

.block1 {
    width: 100%;
    height: 250px;
}

.block2 {
    width: 95%;
    height: 100px;
}

.block3 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
}

.block4{
    width: 100%;
    height: 100px;
    color: black;
}

.g-block-1 {
    width: 49%;
    float: left;
}

.g-block-2 {
    width: 49%;
    float: right;
}
.correoA{

    overflow: hidden;
    width: 99%;
}
.correoB{
    float: left;
    width: 40%;
    margin-left: 10px;
    margin-right: 20px;

}
#contentPhone{
    height: 100%;

}

.correo_entero{
    background-color: #d9d9d9;
    width: 100%;
    height: 9%;
    border: 1px solid black;
    white-space: nowrap;
}
.correos{
    height: 100%;
    width: 99%;
    border-style: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    alignment: center;
    margin-left: 0.5%;
}

.lineac{
    height: 30px;
    width: 100px;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}