html
{
    cursor: context-menu;
    overflow: hidden;
}

/*le da formato a la tabla que contiene todo*/
.table_full{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-style:hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-spacing:0;
}

/*el div que contiene los botones de la izquierda*/
.botonera{
    height: 50%;
    width: 100%;
    border:hidden;
    margin: 0 0 auto auto;
}

.botonera a:hover{
    background-color: black;
    color: white;
}

.botonerav{
    width: 100%;
    border:hidden;
    margin: 0;
    float: left;
    vertical-align: bottom;
}

.botonerav a:hover{
    background-color:black;
    color: white;
}

/*le da formao a la fila de arriba de la tabla inicial*/
.fila_arriba{
    height: 10%;
}

/*los botoncitos de la derecha*/
.boton{
    background-color:#9f1b1f;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    top: 0;
    left: 0;
    color: black;
    alignment: center;
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 0;
    display: block;
    text-decoration: none;
}
.boton_actual{
    background-color:black;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    top: 0;
    left: 0;
    color: white;
    alignment: center;
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 0;
    display: block;
    text-decoration: none
}

/*clase para los botones de arriba de la pagina*/
.boton_superior{
    background-color:#9f1b1f;
    color: black;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    top: 0;
    left: 0;
    height: 1%;
    width: 10%;
    alignment: center;
    padding: 10px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 0;
    float: left;
    text-decoration: none;
}

.boton_superior_actual{
    background-color:black;
    color: white;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    top: 0;
    left: 0;
    height: 1%;
    width: 10%;
    alignment: center;
    padding: 10px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 0;
    float: left;
    text-decoration: none;
}

.salir{
    background-color:black;
    color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px ;

}

/*celda de arriba a la derecha aqui va la fecha, el logo de la upv y los botones de navegacion*/
.barra_arriba{
    background-color:#ffffff;
    border-style:hidden;
    align-items: baseline;
}

/*div que contiene la fecha*/
.fecha{
    text-align: center;
    vertical-align: bottom;
    width: 70%;
    margin-top: 15px;
    color: #b3b3b3;
    font-size: 20px;
}

.logo{
    float: right;
}

.foto{
    margin-right: 5px;
}

/*aqui va la informacion del usuario y el boton de cerrar sesion*/
.user_info{
    background-color:#ffffff;
    border-style:hidden;
    text-align:left;
    vertical-align:top;
    width: 10%;
}

#name{
    position: absolute;
}

/*el cuadrado grande gris que sera el cuerpo principal de  la pagina*/
.celda_gris{
    background-color:#d9d9d9;
    border-style:hidden;
    text-align:left;
    vertical-align:top;
    z-index: 20;
    position: relative
}

.celda1{
    width: 600px;
    height: 970px;
    text-align: center;
}

.celda2{
    background-color:#d9d9d9;
    width: 2000px;
}

.campo{
    margin-top: 10px;
    margin-left: 200px;
    height: 30px;
    width: 200px;
}

.movil{
    display: none;
}

/* responsive */
@media screen and (max-width: 790px) {
    .ordenador {
        display: none !important;
    }
    .movil {
        display: block;
    }
}

/* movil */
.dropbtn {
    width: 100%;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    cursor: context-menu;
    text-align: center;
    width: 100%;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    display: block;
    background: #9f1b1f;
}

.dropdown .selected {background-color: #ddd;}

.show {display: block;}

#subjects
{
    width: 20%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.h1entrada{
    color: gray;
}

.botone{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-left: 350px;
    margin-top: 20px;
}

.botons{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    color: red;
    text-align: center;
    width: 50%;
}

.visible{
    visibility: visible;
    opacity: 1;
    color: red;
    text-align: center;
    width: 50%;
}

#correoinfo{
margin-top: 30px;
height: 5%;
}

#contentPhone{
    margin-top: 10px;
    max-width: 100%;
    overflow-x: hidden;
}

#UserButtonInfo{
    margin: 0 auto;
}
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.infoMobile{
    text-align: center;
    alignment: center;

}