/*le da formato a la tabla que contiene todo*/
.table_full {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-style:hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-spacing:0;

}
/*el div que contiene los botones*/
.botonera{
    height: 50%;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    margin: 0 0 auto auto;

}
/*le da formao a la fila de arriba de la tabla inicial*/
.fila_arriba{
    height: 10%;

}
/*basicamente esto son los div que contienen los botones de la derecha*/
.celda_roja {
    height: 10%;
    padding-top: 10%;

}
/*los botoncitos de la derecha*/
.boton{
    background-color:#9f1b1f;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;

    top: 0;
    left: 0;
    color: white;
    height: 100%;
    width: 100%;
    alignment: center;

    padding: 10% 50%;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: auto;


}

/*esta y la de abajo de momento estan vacias, son las celdas blancas que hay  arriba del todo*/
.celda_blanca{
    background-color:#ffffff;
    border-style:hidden;
    text-align:left;
    vertical-align:top;
    height: 5%
}
.celda_blanca1{background-color:#ffffff;
    border-style:hidden;
    text-align:left;
    vertical-align:top;
    width: 10%
}

/*el cuadrado grande gris que sera el cuerpo principal de  la pagina*/
.celda_gris{background-color:#d9d9d9;
    border-style:hidden;
    text-align:left;
    vertical-align:top;
    z-index: 20;
    position: relative
}
